*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}




.container-registrarse{
    display: flex;
    justify-content: center;
    padding-top:5vh;
    height: 100vh;
}

.content-registrarse{
    width: 28vw;
}

.img-logo{
    padding-bottom: 2vh;
    text-align: center;
}
.card-registrarse{
    padding: 2vh 2vh 2vh 2vh;
}

.div-input{
    padding: 1vh 0 0 0;
    
}

.btn-registrarse{
    margin-top: 4vh;
    margin-bottom: 2vh;
    padding: 0.5vh 0 0.5vh 0;
    font-size: 1.8vh;
    width: 70%;
    color: #fff;
    background-color: #689cfc;
    border: none;
    outline-style: none;
    border-radius: 10px;
}

.div-btn{
    display: flex;
    justify-content: center;
}

.recuperar-contrasenia{
    font-size: 1.4vh;
}

.registrarse{
    line-height: 3vh;
}