<footer>
    <div class="container-footer">
        <div class="text-footer">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="">
            <div>
                <label>Ciudad de Mexico</label><br>
                <label>Av. Cuauhtemoc 03</label><br>
                <label>Navarte Poniente. 03020, CDMX</label><br>
                <label>Whatsapp</label>
            </div>
            <div>
                <label>Ciudad de Mexico</label><br>
                <label>Av. Cuauhtemoc 03</label><br>
                <label>Navarte Poniente. 03020, CDMX</label><br>
                <label>Whatsapp</label>
            </div>
            <div>
                <label>Ciudad de Mexico</label><br>
                <label>Av. Cuauhtemoc 03</label><br>
                <label>Navarte Poniente. 03020, CDMX</label><br>
                <label>Whatsapp</label>
            </div>
        </div>
        <hr>
        <p>&copy; 2023 Tu vivienda nueva. Todos los derechos reservados.</p>
    </div>
</footer>