<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu vivienda nueva</title>

</head>

<body>
    {% include 'menu.html' %}

    <div class="banner">
        <div class="banner-content">
            <p>Encuentra la casa de tus sueños.</p>
            <p>Infinitas opciones de vivienda</p>
            <div class="buscador-banner">
                <input type="text" name="" id="" class="input-banner"
                    placeholder="Busca por ciudad, delegación o colonia">
                <select name="">
                    <option value="Tipo de propiedad">Tipo de propiedad</option>
                </select>
                <input type="number" name="" id="" placeholder="Precio">
                <input type="submit" value="Buscar" class="btn-banner">
            </div>
        </div>

    </div>
    <div class="container-home">


        <div class="content">
            <div class="stl-home-ttl">
                <p>¿Por qu&eacute; elegir Tu vivienda nueva?</p>
            </div>
            <div class="stl-razones">
                <div class="stl-item-razones">
                    <i class="fa-solid fa-calendar-days fa-2xl"></i>
                    <p class="ttl-razones">DISPONIBILIDAD</p>
                    <p>
                        Encuentra la mayor oferta de vivienda nueva en la ciudad
                    </p>
                </div>
                <div class="stl-item-razones">
                    <i class="fa-solid fa-lock fa-2xl"></i>
                    <p class="ttl-razones">RESPALDO</p>
                    <p>
                        Evaluamos exhaustivamente nuestra oferta para que compres con la mayor tranquilidad
                    </p>
                </div>
                <div class="stl-item-razones active">
                    <i class="fa-solid fa-user fa-lg"></i>
                    <p class="ttl-razones">ASISTENCIA</p>
                    <p>Te damos toda la informaci&oacute;n de nuestros expertos y aliados para que tomes la mejor decisi&oacute;n</p>
                </div>
                <div class="stl-item-razones">
                    <i class="fa-solid fa-thumbs-up fa-lg"></i>
                    <p class="ttl-razones">GARANTIA</p>
                    <p>Garantizamos que tus inmuebles se renten m&aacute;s r&aacute;pido</p>
                </div>
            </div>
            <div class="stl-div-guias">
                <div class="stl-item-guias compra">
                    <p>¿Qu&eacute; necesito para comprar?</p>
                    <a class="stl-btn-guias">GU&Iacute;A DE COMPRA</a>
                </div>
                <div class="stl-item-guias renta">
                    <p>¿Qu&eacute; necesito para rentar?</p>
                    <a class="stl-btn-guias">GU&Iacute;A DE RENTA</a>
                </div>
                <div class="stl-item-guias">
                    <p>¿Qu&eacute; necesito para vender?</p>
                    <a class="stl-btn-guias">GU&Iacute;A DE VENTA</a>
                </div>
                <div class="stl-item-guias">
                    <p>¿Qu&eacute; necesito para registrarme?</p>
                    <a class="stl-btn-guias">GU&Iacute;A DE REGISTRO</a>
                </div>
            </div>
            <div class="stl-div-desarrolladores">
                <div class="stl-item-desarrolladores">
                    <div class="stl-item-desarrolladores-cont">
                        <p class="stl-ttl-desarrolladores">Tu vivienda nueva para Desarrolladores</p>
                        <p>Conoce Tu vivienda nueva, la plataforma que vender &aacute; tus proyectos inmobiliarios hasta 3 veces m&aacute;s r&aacute;pido</p>
                        <a class="stl-btn-desarrolladores">GU&Iacute;A DE COMPRA</a>
                    </div>
                </div>
                <div class="stl-item-desarrolladores">
                    <div class="stl-item-desarrolladores-cont">
                        <p class="stl-ttl-desarrolladores">Tu vivienda nueva para Desarrolladores</p>
                        <p>Conoce Tu vivienda nueva, la plataforma que vender &aacute; tus proyectos inmobiliarios hasta 3 veces m&aacute;s r&aacute;pido</p>
                        <a class="stl-btn-desarrolladores">GU&Iacute;A DE COMPRA</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% include 'footer.html' %}
</html>