<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Agregar vivienda
    </h1>
    <form id="form1" method="post" action="http://localhost:4000/api/viviendas">
        <input type="text" name="txtNombre" placeholder="Ingrese el nombre...">
        <input type="text" name="txtDescripcion" placeholder="Ingrese la descripción...">
        <input type="text" name="txtPrecio" placeholder="Ingrese el precio...">
        <input type="text" name="txtArea" placeholder="Ingrese el área...">
        <input type="text" name="txtHabitaciones" placeholder="Ingrese el número de habitaciones...">
        <input type="text" name="txtBanios" placeholder="Ingrese el número de baños...">
        <input type="text" name="txtEstacionamientos" placeholder="Ingrese el número de estacionamientos...">
        <input type="text" name="txtDireccion" placeholder="Ingrese la dirección...">
        <input type="text" name="txtCiudad" placeholder="Ingrese la ciudad...">
        <input type="submit" value="Enviar">
    </form>

</body>

</html>